resume {
    
            .color-blue{
                color:lightskyblue;
            }
            .color-red{
                color:lightpink;
            }
            .color-yellow{
                color:mediumpurple;
            }
            .color-green{
                color:lightgreen;
            }


}
